<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'post' %>
<%= will_paginate @posts %>
<%= nether(@posts.total_pages, posts_path, "#content") %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
